ui/node_red.txt
[{"id":"8290e74a.c6a5b8","type":"tab","label":"ALICE","disabled":false,"info":"home automation project integrating NLP, Neural Netrowk, and Z-Wave"},{"id":"b5c168fd.9f7438","type":"ui_text_input","z":"8290e74a.c6a5b8","name":"Command input","label":"Command","group":"6fbae323.48e67c","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":339,"y":112,"wires":[["95797354.604b1","5bbea7e4.4ea758"]]},{"id":"c8fac4c8.295088","type":"ui_switch","z":"8290e74a.c6a5b8","name":"","label":"Lights state","group":"19c388d.4a82c77","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"flash_on","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"flash_off","offcolor":"red","x":816,"y":348,"wires":[[]]},{"id":"b57e8c0d.ffa06","type":"ui_switch","z":"8290e74a.c6a5b8","name":"","label":"Heater state","group":"d92b85d2.11cf48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-thermometer-empty","offcolor":"red","x":819,"y":414,"wires":[[]]},{"id":"da4add1.b07052","type":"ui_gauge","z":"8290e74a.c6a5b8","name":"Light gauge","group":"19c388d.4a82c77","order":2,"width":"0","height":"0","gtype":"gage","title":"Light","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":818,"y":779,"wires":[]},{"id":"ac897bef.e4d408","type":"ui_gauge","z":"8290e74a.c6a5b8","name":"Temp gauge","group":"d92b85d2.11cf48","order":2,"width":"5","height":"4","gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":814.1111145019531,"y":649.4444561004639,"wires":[]},{"id":"9a6e3419.304558","type":"ui_chart","z":"8290e74a.c6a5b8","name":"Light chart","group":"19c388d.4a82c77","order":4,"width":0,"height":0,"label":"Lighting history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":822,"y":875,"wires":[[],[]]},{"id":"f504201a.63d3b","type":"ui_chart","z":"8290e74a.c6a5b8","name":"Heat chart","group":"d92b85d2.11cf48","order":5,"width":0,"height":0,"label":"Heating history","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"15","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#eda11e","#e81031","#f27e16","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":833.4444808959961,"y":563.7778339385986,"wires":[[],[]]},{"id":"a863e764.edb918","type":"mqtt out","z":"8290e74a.c6a5b8","name":"inputCommand_mqtt","topic":"inputCommand","qos":"0","retain":"","broker":"c5d38a7e.c90c58","x":756,"y":114,"wires":[]},{"id":"95797354.604b1","type":"function","z":"8290e74a.c6a5b8","name":"commandResetter","func":"value = msg.payload;\n\nif(value) {\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":232,"y":35,"wires":[["b0b5c932.6da538"]]},{"id":"b0b5c932.6da538","type":"delay","z":"8290e74a.c6a5b8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":124,"y":113,"wires":[["b5c168fd.9f7438"]]},{"id":"1ed4d633.105f4a","type":"function","z":"8290e74a.c6a5b8","name":"loggerFnc","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.unshift(msg);\n\nif (dashboardLog.length > 10){\n    // Delete oldest message if > 10\n    dashboardLog.pop();\n} \n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;","outputs":1,"noerr":0,"x":561,"y":178,"wires":[["c29b06e8.1733f8"]]},{"id":"c29b06e8.1733f8","type":"ui_template","z":"8290e74a.c6a5b8","group":"6fbae323.48e67c","name":"History:","order":4,"width":"6","height":"9","format":"<span height=\"250\" width=\"200\" style=\"float:left;\">\n    <ul style=\"list-style:none;\">\n        <li style=\"display:flex; flex-direction:column;\" ng-repeat=\"message in msg.payload\">\n            <div style=\"background-color: #A40C0C; border: 1px solid red; border-radius: 5px; display: inline; margin:auto; margin-left:0; margin-bottom:10px; padding:5px;\" ng-if=\"message.payload.startsWith('Command')\">\n                {{message.payload}}\n            </div>\n            <div style=\"background-color: #CECE07; border: 1px solid black; border-radius: 5px; display: inline; margin:auto; margin-right:0; margin-bottom:10px; padding:5px;\" ng-if=\"message.payload.startsWith('alice')\">\n                <font color=\"black\">{{message.payload}}</font>\n            </div>\n    </ul>\n</span>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":800,"y":178,"wires":[[]]},{"id":"a6241d19.f93e2","type":"mqtt in","z":"8290e74a.c6a5b8","name":"lightState_mqtt","topic":"lightState","qos":"2","broker":"c5d38a7e.c90c58","x":104,"y":347,"wires":[["f59e8b3a.0ef0e8"]]},{"id":"bbb978fd.f17cf8","type":"mqtt in","z":"8290e74a.c6a5b8","name":"heaterState_mqtt","topic":"heaterState","qos":"2","broker":"c5d38a7e.c90c58","x":105,"y":418,"wires":[["e6dbe04.9cf2a2"]]},{"id":"f59e8b3a.0ef0e8","type":"function","z":"8290e74a.c6a5b8","name":"lightStateConverter","func":"var retVal = msg.payload == \"on\" ? true : false; \nmsg.payload = retVal;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":348,"wires":[["c8fac4c8.295088"]]},{"id":"e6dbe04.9cf2a2","type":"function","z":"8290e74a.c6a5b8","name":"heatStateConverter","func":"var retVal = msg.payload == \"on\" ? true : false; \nmsg.payload = retVal;\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":418,"wires":[["b57e8c0d.ffa06"]]},{"id":"6ad0eaf4.1f7944","type":"mqtt in","z":"8290e74a.c6a5b8","name":"lightLevel_mqtt","topic":"lightLevel","qos":"2","broker":"c5d38a7e.c90c58","x":106,"y":801,"wires":[["da4add1.b07052","9a6e3419.304558","450e89c1.17b338"]]},{"id":"6b096e85.0403e","type":"mqtt in","z":"8290e74a.c6a5b8","name":"currentTemperature_mqtt","topic":"currentTemperature","qos":"2","broker":"c5d38a7e.c90c58","x":133.11111450195312,"y":651.8888931274414,"wires":[["26db6934.416f56"]]},{"id":"94a3eb62.88f648","type":"mqtt in","z":"8290e74a.c6a5b8","name":"outputResponse_mqtt","topic":"outputResponse","qos":"2","broker":"c5d38a7e.c90c58","x":126,"y":276,"wires":[["cb815aa8.f27d08","837c54a8.39ef58"]]},{"id":"cb815aa8.f27d08","type":"ui_text","z":"8290e74a.c6a5b8","group":"6fbae323.48e67c","order":3,"width":0,"height":0,"name":"Response","label":"RESPONSE:","format":"{{msg.payload}}","layout":"col-center","x":958,"y":278,"wires":[]},{"id":"c313a46a.d00428","type":"function","z":"8290e74a.c6a5b8","name":"command_decorator","func":"var newMsg = \"Command: \" + msg.payload;\n\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":180,"wires":[["1ed4d633.105f4a"]]},{"id":"837c54a8.39ef58","type":"function","z":"8290e74a.c6a5b8","name":"response_decorator","func":"var newMsg = \"alice: \" + msg.payload;\n\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":232,"wires":[["1ed4d633.105f4a"]]},{"id":"5bbea7e4.4ea758","type":"function","z":"8290e74a.c6a5b8","name":"emptyFilter","func":"var input = msg.payload;\n\nif(input) {\n    return msg;\n}","outputs":1,"noerr":0,"x":529,"y":113,"wires":[["a863e764.edb918","c313a46a.d00428"]]},{"id":"450e89c1.17b338","type":"ui_slider","z":"8290e74a.c6a5b8","name":"Light level","label":"Light level","group":"19c388d.4a82c77","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":540,"y":1041,"wires":[["9e67cf98.d591b"]]},{"id":"3d32399e.831006","type":"ui_numeric","z":"8290e74a.c6a5b8","name":"Lighting step","label":"Light change step","group":"19c388d.4a82c77","order":6,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"50","step":1,"x":546,"y":1107,"wires":[["229c7022.6965d"]]},{"id":"6915325d.50878c","type":"ui_numeric","z":"8290e74a.c6a5b8","name":"Heating step","label":"Heat change step","group":"d92b85d2.11cf48","order":6,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":10,"step":1,"x":553,"y":1164,"wires":[["e62acf5.330923"]]},{"id":"d9d9b860.c27638","type":"ui_text","z":"8290e74a.c6a5b8","group":"d92b85d2.11cf48","order":3,"width":0,"height":0,"name":"Set temp","label":"Set temperature","format":"{{msg.payload}}","layout":"row-spread","x":821.4444580078125,"y":483.88889503479004,"wires":[]},{"id":"8258747.ca07788","type":"mqtt in","z":"8290e74a.c6a5b8","name":"setTemperature_mqtt","topic":"setTemperature","qos":"2","broker":"c5d38a7e.c90c58","x":124.5555648803711,"y":532.4444637298584,"wires":[["ae05a760.3b98d8","8ddbd5b8.8a8058"]]},{"id":"ae05a760.3b98d8","type":"function","z":"8290e74a.c6a5b8","name":"setTopic_adder","func":"msg.topic = 'setTemp';\nreturn msg;","outputs":1,"noerr":0,"x":520.3333435058594,"y":536.2222023010254,"wires":[["f504201a.63d3b"]]},{"id":"c7f46686.f7fec8","type":"function","z":"8290e74a.c6a5b8","name":"currentTopic_adder","func":"msg.topic = \"currentTemp\";\nreturn msg;","outputs":1,"noerr":0,"x":524.9999923706055,"y":584.3333358764648,"wires":[["f504201a.63d3b"]]},{"id":"c5c8d02a.efbd8","type":"mqtt out","z":"8290e74a.c6a5b8","name":"configuration_mqtt","topic":"configuration","qos":"","retain":"","broker":"c5d38a7e.c90c58","x":991,"y":954,"wires":[]},{"id":"9e67cf98.d591b","type":"function","z":"8290e74a.c6a5b8","name":"lightLevel_formatter","func":"var value = msg.payload;\n\nvar newMsg = {\"sender\": \"lightLevel\",\n              \"value\": value};\n\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":728,"y":1041,"wires":[["e357bcee.ddbd1"]]},{"id":"229c7022.6965d","type":"function","z":"8290e74a.c6a5b8","name":"lightingStep_formatter","func":"var value = msg.payload;\n\nvar newMsg = {\"sender\": \"lightingStep\",\n              \"value\": value};\n\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":1107,"wires":[["e357bcee.ddbd1"]]},{"id":"e62acf5.330923","type":"function","z":"8290e74a.c6a5b8","name":"heatingStep_formatter","func":"var value = msg.payload;\n\nvar newMsg = {\"sender\": \"heatingStep\",\n              \"value\": value};\n\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":743,"y":1164,"wires":[["e357bcee.ddbd1"]]},{"id":"e357bcee.ddbd1","type":"json","z":"8290e74a.c6a5b8","name":"","property":"payload","action":"","pretty":false,"x":977,"y":1105,"wires":[["c5c8d02a.efbd8"]]},{"id":"390a261b.6c961a","type":"mqtt in","z":"8290e74a.c6a5b8","name":"batteryLevel_mqtt","topic":"batteryLevel","qos":"2","broker":"c5d38a7e.c90c58","x":115,"y":720,"wires":[["d131cf63.533a3"]]},{"id":"8089a72f.87e528","type":"ui_text","z":"8290e74a.c6a5b8","group":"d92b85d2.11cf48","order":4,"width":0,"height":0,"name":"Battery level","label":"Current battery Level","format":"{{msg.payload}}","layout":"row-spread","x":810.5555419921875,"y":722.2222290039062,"wires":[]},{"id":"26db6934.416f56","type":"function","z":"8290e74a.c6a5b8","name":"floatClamp","func":"var value = (parseFloat(msg.payload)).toFixed(2);\nmsg.payload = parseFloat(value);\nreturn msg;","outputs":1,"noerr":0,"x":343.4444274902344,"y":651.111083984375,"wires":[["ac897bef.e4d408","c7f46686.f7fec8"]]},{"id":"8ddbd5b8.8a8058","type":"function","z":"8290e74a.c6a5b8","name":"degreeAppender","func":"msg.payload = msg.payload + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":529.9999847412109,"y":483.33334255218506,"wires":[["d9d9b860.c27638"]]},{"id":"d131cf63.533a3","type":"function","z":"8290e74a.c6a5b8","name":"percentAppender","func":"msg.payload = msg.payload + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":460.66668701171875,"y":723,"wires":[["8089a72f.87e528"]]},{"id":"2e75921f.27d13e","type":"mqtt in","z":"8290e74a.c6a5b8","name":"initialConfig_mqtt","topic":"initialConfig","qos":"2","broker":"c5d38a7e.c90c58","x":106,"y":944,"wires":[["3745488d.ba7018"]]},{"id":"3745488d.ba7018","type":"json","z":"8290e74a.c6a5b8","name":"json_converter","property":"payload","action":"","pretty":false,"x":146,"y":1110,"wires":[["77ffee9.907d31","5c98413.8124ec","71ceaf1e.28c09","14f2d0b0.8156bf"]]},{"id":"77ffee9.907d31","type":"function","z":"8290e74a.c6a5b8","name":"lightLevel_split","func":"var level = msg.payload.currentLightLevel;\nmsg.payload = level;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1049,"wires":[["450e89c1.17b338"]]},{"id":"5c98413.8124ec","type":"function","z":"8290e74a.c6a5b8","name":"lightVariance_split","func":"var variance = msg.payload.defaultLightVariance;\nmsg.payload = variance;\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":1107,"wires":[["3d32399e.831006"]]},{"id":"71ceaf1e.28c09","type":"function","z":"8290e74a.c6a5b8","name":"heatVariance_split","func":"var heat = msg.payload.defaultHeatVariance;\nmsg.payload = heat;\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":1165,"wires":[["6915325d.50878c"]]},{"id":"14f2d0b0.8156bf","type":"function","z":"8290e74a.c6a5b8","name":"history_resetter","func":"var emptyArray = [];\ncontext.set('dashboardLog',emptyArray);\nmsg.payload = emptyArray;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":1225,"wires":[["e33ed1fe.43388"]]},{"id":"e33ed1fe.43388","type":"link out","z":"8290e74a.c6a5b8","name":"history_reset_out","links":["74cbb5b.08cda4c"],"x":493,"y":1225,"wires":[]},{"id":"74cbb5b.08cda4c","type":"link in","z":"8290e74a.c6a5b8","name":"history_reset_in","links":["e33ed1fe.43388"],"x":593,"y":231,"wires":[["c29b06e8.1733f8","97dddca4.3334c"]]},{"id":"97dddca4.3334c","type":"function","z":"8290e74a.c6a5b8","name":"response_resetter","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":230,"wires":[["cb815aa8.f27d08"]]},{"id":"2754e492.e20c0c","type":"ui_text","z":"8290e74a.c6a5b8","group":"19c388d.4a82c77","order":3,"width":0,"height":0,"name":"filler","label":"","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":831,"wires":[]},{"id":"379b234.d7bcddc","type":"mqtt in","z":"8290e74a.c6a5b8","name":"ping_mqtt","topic":"ping","qos":"2","broker":"c5d38a7e.c90c58","x":90,"y":1403,"wires":[["2fb6313a.7a426e"]]},{"id":"2fb6313a.7a426e","type":"function","z":"8290e74a.c6a5b8","name":"ping_trigger","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":1403,"wires":[["37c80ff1.4e19e","388e5fa7.f6d02","8d1d9092.4a051"]]},{"id":"37c80ff1.4e19e","type":"ui_switch","z":"8290e74a.c6a5b8","name":"","label":"ALICE state","group":"6fbae323.48e67c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check-circle","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-times-circle","offcolor":"red","x":876,"y":1407,"wires":[[]]},{"id":"9fc24896.00c708","type":"delay","z":"8290e74a.c6a5b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":688,"y":1302,"wires":[["37c80ff1.4e19e"]]},{"id":"45b1f21f.1911fc","type":"function","z":"8290e74a.c6a5b8","name":"ping_off_trigger","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":1364,"wires":[["9fc24896.00c708"]]},{"id":"388e5fa7.f6d02","type":"function","z":"8290e74a.c6a5b8","name":"delay_reset","func":"msg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":1301,"wires":[["9fc24896.00c708"]]},{"id":"8d1d9092.4a051","type":"delay","z":"8290e74a.c6a5b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":457,"y":1365,"wires":[["45b1f21f.1911fc"]]},{"id":"6fbae323.48e67c","type":"ui_group","z":"","name":"Input","tab":"c8f696e1.55c1e8","order":1,"disp":true,"width":"6","collapse":true},{"id":"19c388d.4a82c77","type":"ui_group","z":"","name":"Lighting","tab":"c8f696e1.55c1e8","order":2,"disp":true,"width":"6","collapse":true},{"id":"d92b85d2.11cf48","type":"ui_group","z":"","name":"Heating","tab":"c8f696e1.55c1e8","order":3,"disp":true,"width":"6","collapse":true},{"id":"c5d38a7e.c90c58","type":"mqtt-broker","z":"","name":"mqtt_broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8f696e1.55c1e8","type":"ui_tab","z":"","name":"A.L.I.C.E.","icon":"dashboard","order":1}]